
# Temporary proxy to changelogs.ubuntu.com to allow for upgrade
#
server {

    server_name changelogs.ubuntu.com;
    root /var/www/html;
    listen ${PORT};

    location / {
        limit_except GET { deny all; }
        proxy_pass https://changelogs.ubuntu.com;
        proxy_redirect default;
        # ensure Host header and SNI domain match
        proxy_ssl_server_name on;


    }
}
