map $upstream_http_www_authenticate $auth_header {
        ~(.*)ghcr.io(.*)   $1${PROXY}$2;
}

server {

    server_name ${PROXY};
    root /var/www/html;

    listen [::]:8080;
    listen 8080;

    location / {
        limit_except GET { deny all; }
        proxy_pass https://ghcr.io;
        proxy_hide_header www-authenticate;
        add_header www-authenticate $auth_header always;
    }

}
