name: Build docker image, test, publish, and deploy
on:
  push:
    branches: [main]
  workflow_dispatch:
env:
  APP_NAME: proxy
  IMAGE_NAME: opensafely-proxy
  PUBLIC_IMAGE_NAME: ghcr.io/opensafely-core/opensafely-proxy
  HOST: dokku4.ebmdatalab.net
  SSH_AUTH_SOCK: /tmp/agent.sock
permissions:
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@master
    - uses: extractions/setup-just@69d82fb0233557aec017ef13706851d0694e0f1d
    - name: Build image
      run: just build
    - name: Run tests
      run: just test
    - name: Log into GitHub Container Registry
      run: docker login https://ghcr.io -u ${{ github.actor }} --password ${{ secrets.GITHUB_TOKEN }}
    - name: Push image to GitHub Container Registry
      run: |
        docker tag $IMAGE_NAME $PUBLIC_IMAGE_NAME:latest
        docker push $PUBLIC_IMAGE_NAME:latest
    - name: Setup SSH Agent
      run: |
          ssh-agent -a $SSH_AUTH_SOCK > /dev/null
          ssh-add - <<< "${{ secrets.DOKKU4_DEPLOY_SSH_KEY }}"
    - name: Deploy image
      run: |
          set -euo pipefail

          # Find the full qualified "repo digest" for this image
          IMAGE_DIGEST="$(
            docker inspect --format='{{join .RepoDigests "\n"}}' "$PUBLIC_IMAGE_NAME:latest" \
              | grep --fixed-strings "$PUBLIC_IMAGE_NAME" || true
          )"
          # Fail if we have none or more than one (as indicated by the presence of whitespace)
          if [[ -z "$IMAGE_DIGEST" || "$IMAGE_DIGEST" =~ [[:space:]] ]]; then
            echo "Expected exactly one value in IMAGE_DIGEST, got: $IMAGE_DIGEST"
            echo
            echo "Debug info:"
            set -x
            docker inspect --format='{{join .RepoDigests "\n"}}' "$PUBLIC_IMAGE_NAME:latest"
            exit 1
          fi

          echo "Deploying to $HOST"
          echo "dokku git:from-image $APP_NAME $IMAGE_DIGEST"
          ssh -o "UserKnownHostsFile=/dev/null" -o "StrictHostKeyChecking=no" \
            "dokku@$HOST" git:from-image "$APP_NAME" "$IMAGE_DIGEST"
